.margin-empty {
    margin-top: 150px
}
@import url('https://fonts.googleapis.com/css?family=Poppins');

.font-empty {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 24px;
}

.container-empty {
    display: flex;
    align-items: center;
    justify-content: center;
}